.gradle
build/

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# Ignore Gradle GUI config
gradle-app.setting

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
run/
out/
gradle/
eclipse/
libs/
Bedcraft.iml
Bedcraft.ipr
Bedcraft.iws
build.gradle
saves/
screenshots/
logs/2016-05-23-2.log.gz
logs/
.idea/
resourcepacks/
mods/
options.txt
settings.gradle
usercache.json
usernamecache.json
raw/
bin/
src/main/unused/
gradle.properties

.vscode